{% extends 'base.html.twig' %}
<% if (useCritical) { %>
{% block stylesheetsDist %}
<style type="text/css">
    {% include 'public/styles/critical/index.css' ignore missing %}
</style>
<script>
    (function(u){function loadCSS(e,t,n){"use strict";function r(){for(var t,i=0;i<d.length;i++)d[i].href&&d[i].href.indexOf(e)>-1&&(t=!0);t?o.media=n||"all":setTimeout(r)}var o=window.document.createElement("link"),i=t||window.document.getElementsByTagName("script")[0],d=window.document.styleSheets;return o.rel="stylesheet",o.href=e,o.media="only x",i.parentNode.insertBefore(o,i),r(),o}for(var i in u){loadCSS(u[i]);}}(["{{ asset('styles/main.css') }}"]));
</script>
<noscript>
    <link rel="stylesheet" href="{{ asset('styles/main.css') }}">
</noscript>
{% endblock stylesheetsDist %}
<% } %>
{% block body %}
    <% if (useBootstrap) { %>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <h3 class="text-muted"><%= appname %></h3>
        </div>

        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-6 col-lg-push-6">
                    <img class="yeoman-team" src="{{ asset('img/yo-grunt-bower-symfony.png') }}" alt=""/>
                </div>
                <div class="col-lg-6 col-lg-pull-6">
                    <h1>'Allo, 'Allo!</h1>
                    <p class="lead">Always a pleasure scaffolding your apps.</p>
                    <p><a class="btn btn-lg btn-success" href="#">Splendid! <span class="glyphicon glyphicon-ok"></span></a></p>
                </div>
            </div>

        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Symfony</h4>
                <p>High Performance PHP Framework for Web Development</p>
                <h4>Browsersync</h4>
                <p>Keep multiple browsers & devices in sync when building websites.</p>

                <% if (useLess) { %><h4>Less</h4>
                <p>Less is a mature, stable, and powerful professional grade CSS extension language.</p>
                <% } else if (useSass) { %><h4>Sass</h4>
                <p>Sass is a mature, stable, and powerful professional grade CSS extension language.</p>
                <% } else if (useStylus) { %><h4>Stylus</h4>
                <p>Stylus is a revolutionary new language, providing an efficient, dynamic, and expressive way to generate CSS. Supporting both an indented syntax and regular CSS style.</p>
                <% } %>
                <% if (useCritical) { %><h4>Critical</h4>
                <p>Extracts & inlines critical-path (above-the-fold) CSS from HTML.</p><% } %>
                <h4>Bootstrap</h4>
                <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
                <% if (useRequirejs) { %><h4>RequireJS</h4>
                <p>A JavaScript file and module loader optimized for in-browser use.</p><% } %>
                <% if (useJspm) { %><h4>JSPM</h4>
                <p>jspm is a package manager for the SystemJS universal module loader, built on top of the dynamic ES6 module loader</p><% } %>
            </div>
        </div>

    </div>
    <% } else if (useFoundation) { %>
    <div class="container">
            <div class="header">
                <nav class="top-bar" data-topbar role="navigation">
                    <ul class="title-area">
                        <li class="name">
                            <h1><a href="#"><%= appname %></a></h1>
                        </li>
                        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                    </ul>

                    <section class="top-bar-section">
                        <!-- Right Nav Section -->
                        <ul class="right">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>

                        <!-- Left Nav Section -->
                        <ul class="left">

                        </ul>
                    </section>
                </nav>

            </div>

            <div class="panel">
                <div class="row">
                    <div class="medium-6 medium-push-6 columns">
                        <img class="yeoman-team" src="{{ asset('img/yo-grunt-bower-symfony.png') }}" alt=""/>
                    </div>
                    <div class="medium-6 medium-pull-6 columns">
                        <h1>'Allo, 'Allo!</h1>
                        <p class="lead">Always a pleasure scaffolding your apps.</p>
                        <p><a class="button success" href="#">Splendid! <span class="glyphicon glyphicon-ok"></span></a></p>
                    </div>
                </div>

            </div>

            <div class="row marketing">
                <div class="col-lg-6">
                    <h4>Symfony</h4>
                    <p>High Performance PHP Framework for Web Development</p>
                    <h4>Browsersync</h4>
                    <p>Keep multiple browsers & devices in sync when building websites.</p>

                    <% if (useLess) { %><h4>Less</h4>
                    <p>Less is a mature, stable, and powerful professional grade CSS extension language.</p>
                    <% } else if (useSass) { %><h4>Sass</h4>
                    <p>Sass is a mature, stable, and powerful professional grade CSS extension language.</p>
                    <% } else if (useStylus) { %><h4>Stylus</h4>
                    <p>Stylus is a revolutionary new language, providing an efficient, dynamic, and expressive way to generate CSS. Supporting both an indented syntax and regular CSS style.</p>
                    <% } %>
                    <% if (useCritical) { %><h4>Critical</h4>
                    <p>Extracts & inlines critical-path (above-the-fold) CSS from HTML.</p><% } %>
                    <h4>Foundation</h4>
                    <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
                    <% if (useRequirejs) { %><h4>RequireJS</h4>
                    <p>A JavaScript file and module loader optimized for in-browser use.</p><% } %>
                    <% if (useJspm) { %><h4>JSPM</h4>
                    <p>jspm is a package manager for the SystemJS universal module loader, built on top of the dynamic ES6 module loader</p><% } %>
                </div>
            </div>

        </div>
    <% } else if (usePure) { %>
        <div class="container">
            <div class="header">
                <div class="pure-menu pure-menu-open pure-menu-horizontal u-cf">
                    <a href="#" class="pure-menu-heading"><%= appname %></a>

                    <ul class="u-floatRight">
                        <li class="pure-menu-selected"><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="pure-g hero">
                <div class="pure-u-1-2">
                    <h1>'Allo, 'Allo!</h1>
                    <p class="lead">Always a pleasure scaffolding your apps.</p>
                    <p><a class="button-success pure-button" href="#">Splendid! <span class="glyphicon glyphicon-ok"></span></a></p>
                </div>
                <div class="pure-u-1-2">
                    <img class="yeoman-team" src="{{ asset('img/yo-grunt-bower-symfony.png') }}" alt=""/>
                </div>
            </div>

            <div class="pure-g marketing">
                <div class="pure-u-1-2">
                    <h4>Symfony</h4>
                    <p>High Performance PHP Framework for Web Development</p>
                    <h4>Browsersync</h4>
                    <p>Keep multiple browsers & devices in sync when building websites.</p>

                    <% if (useLess) { %><h4>Less</h4>
                    <p>Less is a mature, stable, and powerful professional grade CSS extension language.</p>
                    <% } else if (useSass) { %><h4>Sass</h4>
                    <p>Sass is a mature, stable, and powerful professional grade CSS extension language.</p>
                    <% } else if (useStylus) { %><h4>Stylus</h4>
                    <p>Stylus is a revolutionary new language, providing an efficient, dynamic, and expressive way to generate CSS. Supporting both an indented syntax and regular CSS style.</p>
                    <% } %>
                    <% if (useCritical) { %><h4>Critical</h4>
                    <p>Extracts & inlines critical-path (above-the-fold) CSS from HTML.</p><% } %>
                    <h4>PureCSS</h4>
                    <p>A set of small, responsive CSS modules with a minimal footprint</p>
                    <h4>Suit</h4>
                    <p>Modular style tools for UI components</p>
                    <% if (useRequirejs) { %><h4>RequireJS</h4>
                    <p>A JavaScript file and module loader optimized for in-browser use.</p><% } %>
                    <% if (useJspm) { %><h4>JSPM</h4>
                    <p>jspm is a package manager for the SystemJS universal module loader, built on top of the dynamic ES6 module loader</p><% } %>
                </div>
            </div>

        </div>
    <% } else if (useUikit) { %>
        <div class="uk-navbar uk-navbar-attached uk-margin-large-bottom">
            <div class="uk-container uk-container-center">
                <a href="" class="uk-navbar-brand"><%= appname %></a>
                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="uk-container uk-container-center">

            <div class="uk-panel uk-margin-large-bottom">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-2 uk-push-1-2 uk-margin-bottom">
                        <img class="yeoman-team" src="{{ asset('img/yo-grunt-bower-symfony.png') }}" alt=""/>
                    </div>
                    <div class="uk-width-medium-1-2 uk-pull-1-2">
                        <h1 class="uk-heading-large">'Allo, 'Allo!</h1>

                        <p class="lead">Always a pleasure scaffolding your apps.</p>

                        <p><a class="uk-button uk-button-large uk-button-success" href="#">Splendid! <i class="uk-icon-check"></i></a>
                        </p>
                    </div>
                </div>

            </div>

            <div class="uk-panel uk-panel uk-panel-header">
                <h3 class="uk-panel-title">Here's what you got</h3>
                <dl class="uk-description-list-horizontal">
                    <dt>Symfony</dt>
                    <dd>High Performance PHP Framework for Web Development</dd>

                    <dt>Browsersync</dt>
                    <dd>Keep multiple browsers & devices in sync when building websites.</dd>

                    <% if (useLess) { %><dt>Less</dt>
                    <dd>Less is a mature, stable, and powerful professional grade CSS extension language.</dd>
                    <% } else if (useSass) { %><dt>Sass</dt>
                    <dd>Sass is a mature, stable, and powerful professional grade CSS extension language.</dd>
                    <% } else if (useStylus) { %><dt>Stylus</dt>
                    <dd>Stylus is a revolutionary new language, providing an efficient, dynamic, and expressive way to generate CSS. Supporting both an indented syntax and regular CSS style.</dd>
                    <% } %>
                    <% if (useCritical) { %><dt>Critical</dt>
                    <dd>Extracts & inlines critical-path (above-the-fold) CSS from HTML.</dd><% } %>
                    <dt>uikit</dt>
                    <dd>A lightweight and modular front-end framework for developing fast and powerful web interfaces.</dd>
                    <% if (useRequirejs) { %><dt>RequireJS</dt>
                    <dd>A JavaScript file and module loader optimized for in-browser use.</dd><% } %>
                    <% if (useJspm) { %><dt>JSPM</dt>
                    <dd>jspm is a package manager for the SystemJS universal module loader, built on top of the dynamic ES6 module loader</dd><% } %>
                </dl>
            </div>
        </div>
    <% } else if (useInuit) { %>

    <header  role="banner" class="header u-mb+">
        <div class="header__content">
            <div itemscope itemtype="http://schema.org/WPHeader">
                <h1 class="header__title" itemprop="headline"><%= appname %></h1>
                <div class="header__description" itemprop="description">Site Description</div>
            </div>
            <nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
                <ul class="nav">
                    <li itemprop="url">
                        <a class="nav__item nav__item--first" href="http://mysite.com/" title="Home" itemprop="name">Home</a>
                    </li>
                    <li itemprop="url">
                        <a class="nav__item nav__item--last" href="http://mysite.com//about.php" title="About" itemprop="name">About</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main role="main" class="content">
        <div class="panel flag flag--rev u-mb+">
            <div class="flag__body">
                <h2>'Allo, 'Allo!</h2>
                <p class="u-mb">Always a pleasure scaffolding your apps.</p>
                <button class="btn">Splendit</button>
            </div>
            <div class="flag__image">
                <img class="yeoman-team" src="{{ asset('img/yo-grunt-bower-symfony.png') }}" width="600" alt=""/>
            </div>
        </div>

        <div class="box box--flush">
            <h3 class="u-mb">Here's what you got</h3>
            <b>Symfony</b>
            <p>High Performance PHP Framework for Web Development</p>
            <b>Browsersync</b>
            <p>Keep multiple browsers & devices in sync when building websites.</p>

            <% if (useLess) { %><b>Less</b>
            <p>Less is a mature, stable, and powerful professional grade CSS extension language.</p>
            <% } else if (useSass) { %><b>Sass</b>
            <p>Sass is a mature, stable, and powerful professional grade CSS extension language.</p>
            <% } else if (useStylus) { %><b>Stylus</b>
            <p>Stylus is a revolutionary new language, providing an efficient, dynamic, and expressive way to generate CSS. Supporting both an indented syntax and regular CSS style.</p>
            <% } %>
            <% if (useCritical) { %><b>Critical</b>
            <p>Extracts & inlines critical-path (above-the-fold) CSS from HTML.</p><% } %>
            <b>Bootstrap</b>
            <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
            <% if (useRequirejs) { %><b>RequireJS</b>
            <p>A JavaScript file and module loader optimized for in-browser use.</p><% } %>
            <% if (useJspm) { %><b>JSPM</b>
            <p>jspm is a package manager for the SystemJS universal module loader, built on top of the dynamic ES6 module loader</p><% } %>
        </div>
    </main>
    <% } else { %>
    <div class="container">
            <h1><%= appname %></h1>

            <div>
                <h2>'Allo, 'Allo!</h2>
                <p class="lead">Always a pleasure scaffolding your apps.</p>
            </div>
            <img class="yeoman-team" src="{{ asset('img/yo-grunt-bower-symfony.png') }}" alt=""/>


            <pre class="marketing">
                 <h4>Symfony</h4>
                 <p>High Performance PHP Framework for Web Development</p>
                 <h4>Browsersync</h4>
                 <p>Keep multiple browsers & devices in sync when building websites.</p>

                <% if (useLess) { %><h4>Less</h4>
                <p>Less is a mature, stable, and powerful professional grade CSS extension language.</p>
                <% } else if (useSass) { %><h4>Sass</h4>
                <p>Sass is a mature, stable, and powerful professional grade CSS extension language.</p>
                <% } else if (useStylus) { %><h4>Stylus</h4>
                <p>Stylus is a revolutionary new language, providing an efficient, dynamic, and expressive way to generate CSS. Supporting both an indented syntax and regular CSS style.</p>
                <% } %>
                <% if (useCritical) { %><h4>Critical</h4>
                <p>Extracts & inlines critical-path (above-the-fold) CSS from HTML.</p><% } %>
                <% if (useRequirejs) { %><h4>RequireJS</h4>
                <p>A JavaScript file and module loader optimized for in-browser use.</p><% } %>
                <% if (useJspm) { %><h4>JSPM</h4>
                <p>jspm is a package manager for the SystemJS universal module loader, built on top of the dynamic ES6 module loader</p><% } %>
            </pre>


        </div>
    <% } %>
{% endblock %}
